@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    background-color: #282829;
}

.col-lg-3 {
    flex: 0 0 calc(25% - 20px);
    margin-bottom: 20px;
}

main {
    padding: 20px;
    position: flex;
    z-index: 1;
    padding-left: calc(82px + 20px);
    flex-direction: column;
}

.container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding-bottom: 10px;
}

section {
    scroll-snap-align: start;
    display: grid;
    place-items: center;
}

#content-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: auto;
}

.vendas-row,
.vendas-ontem-row,
.dinheiro-caixa-row,
.itens-loja-row {
    width: 308px;
    position: relative;
    height: auto;
    background: #f0f0f0;
    margin: 30px 10px;
    border-radius: 20px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0.5px 10px #e6e6e6;
    transition: 0.3s ease-in-out;
    margin-top: 5%;
}

@media screen and (max-width: 768px) {
    .container {
        flex-wrap: wrap;
    }

    .container .vendas-row,
    .container .vendas-ontem-row,
    .container .dinheiro-caixa-row,
    .container .itens-loja-row {
        width: calc(50% - 20px);
        margin: 15px 10px;
    }
}

@media screen and (max-width: 576px) {
    .container .vendas-row,
    .container .vendas-ontem-row,
    .container .dinheiro-caixa-row,
    .container .itens-loja-row {
        width: calc(100% - 20px);
        margin: 15px 10px;
    }
}

#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f4e17a;
    border-radius: 0px 18px 18px 0px;
    position: relative;
    transition: all 0.5s;
    min-width: 82px;
    z-index: 2;
}

#sidebar_content {
    padding: 12px;
}

#user {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 24px;
}

#user_avatar {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 20px;
}

#user_infos {
    display: flex;
    flex-direction: column;
}

#user_infos span:last-child {
    color: #6b6b6b;
    font-size: 12px;
}

#side_items {
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
}

.side-item {
    border-radius: 8px;
    padding: 14px;
    cursor: pointer;
    background-color: #ffffff;
}

.side-item.active {
    background-color: #b6853d;
}

.side-item:hover:not(.active),
#logout_btn:hover {
    background-color: #e3e9f7;
}

.side-item a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0a0a0a;
}

.side-item.active a {
    color: #e3e9f7;
}

h1 {
    color: #ffffff;
}

.side-item a i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}

#logout {
    border-top: 1px solid #e3e9f7;
    padding: 12px;
}

#logout_btn {
    border: none;
    padding: 12px;
    font-size: 14px;
    display: flex;
    gap: 20px;
    align-items: center;
    border-radius: 8px;
    text-align: start;
    cursor: pointer;
    background-color: transparent;
    color: #0a0a0a;
}

#open_btn {
    position: absolute;
    top: 30px;
    right: -10px;
    background-color: #b6853d;
    color: #ffffff;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;
}

#open_btn_icon {
    transition: transform 0.3s ease;
}

.open-sidebar #open_btn_icon {
    transform: rotate(180deg);
}

.item-description {
    width: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    transition: width 0.6s;
    height: 0px;
}

#sidebar.open-sidebar {
    min-width: 25%;
}

#sidebar.open-sidebar .item-description {
    width: 150px;
    height: auto;
}

#sidebar.open-sidebar .side-item a {
    justify-content: flex-start;
    gap: 14px;
}

.bg-success {
    background-color: #f4e17a;
    color: #282829;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.bg-success .small-box-footer {
    color: #b6853d;
}

.bg-success .small-box-footer:hover {
    color: #ffffff;
}

.bg-success .inner h3 {
    font-size: 24px;
}

.bg-success .inner p {
    font-size: 14px;
}

.bg-success .icon i {
    font-size: 36px;
}
